# Dependencies
/vendor/
/node_modules/
composer.lock
package-lock.json

# Testing
/tests/
.phpunit.result.cache
phpunit.xml

# Development
.env
.DS_Store
*.log
*.bak
.vscode/
.idea/

# Build files
/build/
/dist/
